# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# OS Files
.DS_Store

# Spyder Files from devEnv
.spyproject/


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_static
docs/_build

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject

# PyCharm project settings
.idea/

# VS Code settings
.vscode/

# pypi config file
.pypirc

# Folder for testing scripts
test_scripts/

\.pytest_cache/
/docs/source/_autosummary/
/docs/source/notebooks/
example_data/.pyTEMlib.files.pkl
example_data/AL_DFoffset0.00-1.hf5
example_data/AL_DFoffset0.00-10.hf5
example_data/AL_DFoffset0.00-11.hf5
example_data/AL_DFoffset0.00-12.hf5
example_data/AL_DFoffset0.00-13.hf5
example_data/AL_DFoffset0.00-14.hf5
example_data/AL_DFoffset0.00-15.hf5
example_data/AL_DFoffset0.00-16.hf5
example_data/AL_DFoffset0.00-17.hf5
example_data/AL_DFoffset0.00-18.hf5
example_data/AL_DFoffset0.00-19.hf5
example_data/AL_DFoffset0.00-2.hf5
example_data/AL_DFoffset0.00-3.hf5
example_data/AL_DFoffset0.00-4.hf5
example_data/AL_DFoffset0.00-5.hf5
example_data/AL_DFoffset0.00-6.hf5
example_data/AL_DFoffset0.00-7.hf5
example_data/AL_DFoffset0.00-8.hf5
example_data/AL_DFoffset0.00-9.hf5
example_data/AL_DFoffset0.00.hf5
example_data/AL_DFoffset0.00-20.hf5
example_data/AL_DFoffset0.00-21.hf5
example_data/AL_DFoffset0.00-22.hf5
example_data/AL_DFoffset0.00-23.hf5
example_data/AL_DFoffset0.00-24.hf5
example_data/AL_DFoffset0.00-25.hf5
example_data/AL_DFoffset0.00-26.hf5
example_data/AL_DFoffset0.00-27.hf5
example_data/AL_DFoffset0.00-28.hf5
example_data/AL_DFoffset0.00-29.hf5
example_data/AL_DFoffset0.00-30.hf5
example_data/AL_DFoffset0.00-31.hf5
example_data/AL_DFoffset0.00-32.hf5
example_data/AL_DFoffset0.00-33.hf5
example_data/AL_DFoffset0.00-34.hf5
example_data/AL_DFoffset0.00-35.hf5
example_data/AL_DFoffset0.00-36.hf5
example_data/AL_DFoffset0.00-37.hf5
example_data/AL_DFoffset0.00-38.hf5
example_data/AL_DFoffset0.00-39.hf5
example_data/AL_DFoffset0.00-40.hf5
example_data/AL_DFoffset0.00-41.hf5
example_data/AL_DFoffset0.00-42.hf5
example_data/AL_DFoffset0.00-43.hf5
example_data/AL_DFoffset0.00-44.hf5
example_data/AL_DFoffset0.00-45.hf5
example_data/AL_DFoffset0.00-46.hf5
example_data/AL_DFoffset0.00-47.hf5
pyTEMlib/data/old/edges_db.csv
pyTEMlib/data/old/fparam.txt
pyTEMlib/data/old/microscopes.csv
pyTEMlib/data/old/microscopes.xml
pyTEMlib/data/old/path.txt
pyTEMlib/edges_db_old.py
pyTEMlib/file_tools_qt_old.py
notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
data-structure.pptx
notebooks/test.hf5
notebooks/Untitled.ipynb
~$data-structure.pptx
notebooks/Untitled.ipynb
notebooks/Untitled.ipynb
notebooks/Untitled.ipynb
notebooks/Untitled.ipynb
example_data/GOLD_NP_DIFF-2-1.hf5
example_data/GOLD_NP_DIFF-2-2.hf5
example_data/GOLD_NP_DIFF-2.hf5
example_data/GOLD-NP-DIFF-2-1.hf5
example_data/GOLD-NP-DIFF-2.hf5
.pyTEMlib.files.pkl
.pyTEMlib.files.pkl
.pyTEMlib.files.pkl
example_data/GOLD-NP-DIFF-1.hf5
example_data/GOLD-NP-DIFF-2-2.hf5
example_data/GOLD-NP-DIFF-3.hf5
notebooks/Untitled.ipynb
