# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# OS Files
.DS_Store

# Spyder Files from devEnv
.spyproject/


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.p

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_static
docs/_build

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject

# PyCharm project settings
.idea/

# VS Code settings
.vscode/

# pypi config file
.pypirc

# Folder for testing scripts
test_scripts/

\.pytest_cache/
/docs/source/_autosummary/
/docs/source/notebooks/
example_data/.pyTEMlib.files.pkl
example_data/AL_DFoffset0.00-1.hf5
example_data/AL_DFoffset0.00-10.hf5
example_data/AL_DFoffset0.00-11.hf5
example_data/AL_DFoffset0.00-12.hf5
example_data/AL_DFoffset0.00-13.hf5
example_data/AL_DFoffset0.00-14.hf5
example_data/AL_DFoffset0.00-15.hf5
example_data/AL_DFoffset0.00-16.hf5
example_data/AL_DFoffset0.00-17.hf5
example_data/AL_DFoffset0.00-18.hf5
example_data/AL_DFoffset0.00-19.hf5
example_data/AL_DFoffset0.00-2.hf5
example_data/AL_DFoffset0.00-3.hf5
example_data/AL_DFoffset0.00-4.hf5
example_data/AL_DFoffset0.00-5.hf5
example_data/AL_DFoffset0.00-6.hf5
example_data/AL_DFoffset0.00-7.hf5
example_data/AL_DFoffset0.00-8.hf5
example_data/AL_DFoffset0.00-9.hf5
example_data/AL_DFoffset0.00.hf5
example_data/AL_DFoffset0.00-20.hf5
example_data/AL_DFoffset0.00-21.hf5
example_data/AL_DFoffset0.00-22.hf5
example_data/AL_DFoffset0.00-23.hf5
example_data/AL_DFoffset0.00-24.hf5
example_data/AL_DFoffset0.00-25.hf5
example_data/AL_DFoffset0.00-26.hf5
example_data/AL_DFoffset0.00-27.hf5
example_data/AL_DFoffset0.00-28.hf5
example_data/AL_DFoffset0.00-29.hf5
example_data/AL_DFoffset0.00-30.hf5
example_data/AL_DFoffset0.00-31.hf5
example_data/AL_DFoffset0.00-32.hf5
example_data/AL_DFoffset0.00-33.hf5
example_data/AL_DFoffset0.00-34.hf5
example_data/AL_DFoffset0.00-35.hf5
example_data/AL_DFoffset0.00-36.hf5
example_data/AL_DFoffset0.00-37.hf5
example_data/AL_DFoffset0.00-38.hf5
example_data/AL_DFoffset0.00-39.hf5
example_data/AL_DFoffset0.00-40.hf5
example_data/AL_DFoffset0.00-41.hf5
example_data/AL_DFoffset0.00-42.hf5
example_data/AL_DFoffset0.00-43.hf5
example_data/AL_DFoffset0.00-44.hf5
example_data/AL_DFoffset0.00-45.hf5
example_data/AL_DFoffset0.00-46.hf5
example_data/AL_DFoffset0.00-47.hf5
pyTEMlib/data/old/edges_db.csv
pyTEMlib/data/old/fparam.txt
pyTEMlib/data/old/microscopes.csv
pyTEMlib/data/old/microscopes.xml
pyTEMlib/data/old/path.txt
pyTEMlib/edges_db_old.py
pyTEMlib/file_tools_qt_old.py
notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
data-structure.pptx
notebooks/test.hf5
notebooks/Untitled.ipynb
~$data-structure.pptx
notebooks/Untitled.ipynb
notebooks/Untitled.ipynb
notebooks/Untitled.ipynb
notebooks/Untitled.ipynb
example_data/GOLD_NP_DIFF-2-1.hf5
example_data/GOLD_NP_DIFF-2-2.hf5
example_data/GOLD_NP_DIFF-2.hf5
example_data/GOLD-NP-DIFF-2-1.hf5
example_data/GOLD-NP-DIFF-2.hf5
.pyTEMlib.files.pkl
.pyTEMlib.files.pkl
.pyTEMlib.files.pkl
example_data/GOLD-NP-DIFF-1.hf5
example_data/GOLD-NP-DIFF-2-2.hf5
example_data/GOLD-NP-DIFF-3.hf5
notebooks/Untitled.ipynb
notebooks/Untitled.ipynb
notebooks/Untitled.ipynb
.pyTEMlib.files.pkl
pyTEMlib/try-main.py
pyTEMlib/try2.py
pyTEMlib/eels_dialog works.py
example_data/EELS_STO2.dm3
notebooks/EELS/1-s2.0-S0925838823027585-main.pdf
notebooks/EELS/Analyse_Low_Loss2.ipynb
notebooks/EELS/Analysis_Core_Loss (1).ipynb
server_user_id.txt
example_data/EELS_STO3.hf5
.pyTEMlib.files.pkl
.pyTEMlib.files.pkl
example_data/EELS_STO3-1.hf5
data/Y.csv
notebooks/Imaging/data/Bote.txt
notebooks/Imaging/data/ffast.pkl
notebooks/Imaging/data/lineweight.txt
.pyTEMlib.files.pkl
notebooks/EELS/relax.csv
Untitled.ipynb
example_data/GOLD-NP-DIFF-2-3.hf5
example_data/GOLD-NP-DIFF-2-4.hf5
notebooks/Imaging/EMDReader_Spectrum_FEI.emd
notebooks/Imaging/EMDReader_Spectrum_FEI.emd.tmp
notebooks/Imaging/DMReader_EELS_STO (1).dm3
notebooks/Imaging/DMReader_EELS_STO.dm3
notebooks/Imaging/EMDReader_Spectrum_FEI (1).emd
notebooks/Imaging/NionReader_ImageStack_STO_HAADF.h5
example_data/p1-3-hr3-1.hf5
notebooks/Spectroscopy/EDS-Copy1.ipynb
_autosummary/pyTEMlib.atom_tools.rst
_autosummary/pyTEMlib.eels_tools.rst
_autosummary/pyTEMlib.file_tools.rst
_autosummary/pyTEMlib.image_tools.rst
_autosummary/pyTEMlib.info_widget.rst
_autosummary/pyTEMlib.kinematic_scattering.rst
_autosummary/pyTEMlib.animation.rst
_autosummary/pyTEMlib.config_dir.rst
_autosummary/pyTEMlib.crystal_tools.rst
_autosummary/pyTEMlib.diffraction_plot.rst
_autosummary/pyTEMlib.dynamic_scattering.rst
_autosummary/pyTEMlib.eds_tools.rst
_autosummary/pyTEMlib.eels_dialog.rst
_autosummary/pyTEMlib.eels_dialog_utilities.rst
_autosummary/pyTEMlib.file_tools_qt.rst
_autosummary/pyTEMlib.graph_tools.rst
_autosummary/pyTEMlib.graph_viz.rst
_autosummary/pyTEMlib.image_dialog.rst
_autosummary/pyTEMlib.image_dlg.rst
_autosummary/pyTEMlib.interactive_image.rst
_autosummary/pyTEMlib.microscope.rst
_autosummary/pyTEMlib.peak_dialog.rst
_autosummary/pyTEMlib.peak_dlg.rst
_autosummary/pyTEMlib.probe_tools.rst
_autosummary/pyTEMlib.rst
_autosummary/pyTEMlib.sidpy_tools.rst
_autosummary/pyTEMlib.simulation_tools.rst
_autosummary/pyTEMlib.version.rst
_autosummary/pyTEMlib.xrpa_x_sections.rst
notebooks/Imaging/Adaptive_Fourier_Filter-Copy1.ipynb
notebooks/Spectroscopy/EELS_286.hf5
notebooks/Spectroscopy/Untitled1.ipynb
pyTEMlib/info_widget2.py
example_data/sto.hf5
example_data/sto2.hf5
example_data/sto3.hf5
example_data/00_sto.hf5
example_data/00_sto-1.hf5
example_data/00_sto-2.hf5
example_data/00_sto-3.hf5
example_data/2-STEM SI.dm4
example_data/0sto.hf5
example_data/GOLD-NP-DIFF-2-10.hf5
example_data/GOLD-NP-DIFF-2-11.hf5
example_data/GOLD-NP-DIFF-2-5.hf5
example_data/GOLD-NP-DIFF-2-6.hf5ls
example_data/GOLD-NP-DIFF-2-7.hf5
example_data/GOLD-NP-DIFF-2-8.hf5
example_data/GOLD-NP-DIFF-2-9.hf5
notebooks/Imaging/Cu.cif
notebooks/Spectroscopy/EDS-Copy2.ipynb
pyTEMlib/eds_xsections - Copy.py
pyTEMlib/eds_xsections-old.py
eds_absorption.py
pyTEMlib/client.py
pyTEMlib/server.py
pyTEMlib/eds_xsections2.py
notebooks/Spectroscopy/EDS-old.ipynb

# MyST build outputs
_build
.github/workflows/deploy-old.yml
example_data/GOLD-NP-DIFF-2-6.hf5
